## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
.*.sw[a-z]

## RubyMine and related
.idea

## PROJECT::GENERAL
coverage
rdoc
pkg

## PROJECT::SPECIFIC
*.gem
.bundle
.rvmrc
Gemfile.lock
coverage/*
doc/*
log/*
pkg/*
tmp/*
*.rbc
*.rbx
.ruby-gemset
.ruby-version
spec/fixtures/token.txt
spec/fixtures/shop_host.txt
spec/fixtures/shop_name.txt
spec/fixtures/*.png
*.gem